#overlay {
  margin: 5vh 5vw;
  width:90vw;
  height: 90vh;
  background-color: yellow;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
body {
  background-color: lightgray;
}
#gallery {
  
  line-height: 0;
  -webkit-column-count: 3;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  column-count: 3;
  column-gap: 10px ;
  margin: 100px;
  
}
#gallery img {
 width: 100% !important;
 height: auto !important;
 padding-top: 10px;
}
#social {
  float: left;
  margin: 100px;
}


#social img{
  height: 25px;
  display: inline-block;
  padding: 15px;
}

#a{
 height: 150px;
 object-fit: fill;
 
 
}


#b{
height: 400px;
object-fit: fill;
 
}


#c{
height: 400px;
object-fit: fill;
 
}


#d{
height: 150px;
object-fit: fill;
 
}


#e{
height: 150px;
object-fit: fill;
 
}


#f{
height: 400px;
object-fit: fill;
 
}











#overlay img {
  height: 100%;
  width: auto;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 1000px) { 
  #gallery {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
