
body {
  background-color: lightgray;
}

#gallery {
  
  line-height: 0;
  -webkit-column-count: 3;
  -webkit-column-gap: 0px;
  -moz-column-count:3;
  -moz-column-gap: 0px;
  column-count: 3;
  column-gap: 10px ;
  margin: 100px;
  margin-top: 50px;
  
  
}
#gallery img {
 width: 100% !important;
 height: auto !important;
 padding-top: 10px;
}
#social {
  float: left;
  margin: 100px;
}


#social img{
  height: 25px;
  display: inline-block;
  padding: 15px;
}


@media (max-width: 1100px) { 
  #gallery {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 1;
  }
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    
  }
} 

.App-header 

  p1{

  display: block;
  position: relative;
  font-family:'Open Sans', sans-serif ;
  font-size: calc(25px + 2vmin);
  color: black;
  margin-left: 100px
}
  p2 {
  display: block;
  padding-top: 20px;
  position: relative;
  font-family:'Open Sans', sans-serif ;
  font-size: calc(15px + 2vmin);
  color: grey;
  margin-left: 100px
  }
  




#a:hover {
 
 opacity: 50%;
 transition:ease-in 200ms;
}
#fb:hover{
  opacity: 50%;
  transition: transform .7s ease-in-out;
  transform: rotate(360deg);
  background-color: white;

}
#insta:hover{
  opacity: 50%;
  transition: transform .7s ease-in-out;
  transform: rotate(360deg);
  background-color: white;
}
#twitter:hover{
  opacity: 50%;
  transition: transform .7s ease-in-out;
  transform: rotate(360deg);
  background-color: white;
}
#linked:hover{
  opacity: 50%;
  transition: transform .7s ease-in-out;
  transform: rotate(360deg);
  background-color: white;
}




#overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 5px 5px;
  max-width:  70vh;
  max-height: 70vh;
  background-color:transparent;
  z-index: 1; 
  border: black 1px solid;
  
  
}

#overlay img {
  height: auto;
  width: 600px;
  

}

.grid {
  column-count: 3;
  margin-left: 100px;
  margin-right: 100px;
  max-width: 900px;
}

.grid img {
  max-width: 300px;
  max-height: 700px;
  border: 1px solid black;
}

img:hover {



}

.close:hover {
  background-color: tomato;
}
#skyline {
  opacity: 50%;
}